body {
    background: url("../img/background.jpg") center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    text-align: center;
    color: rgb(249, 217, 70);
    margin: 2em 0;
    text-shadow: #27408B 5px 5px 5px;
}

#left-container, #right-container {
    border-radius: 15px;
    padding: 2em 6em;
}

#left-container > div {
    margin: 3em 2em;
}

#right-container > div {
    background-color: rgba(255, 255, 254, 0.8);
    border-radius: 8px;
    padding: 1em;
}

#retire-hand-button {
    background: rgb(249, 217, 70);
    font-weight: 500;
}

#letters-you-have-box {
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 2em 0;

}

.tile-piece {
    border-radius: 15px;
    padding: 0 15px;
    border: dashed 3pt;
    display: inline-block;
    width: 8em;
    height: 9em;
    margin: 0 1em;
    background: rgba(255, 255, 254, 0.8);

}

.letter {
    font-size: 5.2em;
    color: #0000CD;
    text-shadow: rgb(249, 217, 70) 5px 2px;
}

.point {
    font-size: 1.8em;
    color: black;
    margin-left: 2.4em;
    margin-top: -1em;

}

.candidate-word {
    cursor: pointer;
}

#highest-score {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 12pt;
    color: white;
    text-shadow: black 2px 1px 2px;
}

#candidate-words button {
    margin-right: 0.5em;
}

#words-found ul {
    color: blue;
}

#words-found {
    height: 14em;
    overflow-y: scroll;
    background: url("../img/minion-reading.png") no-repeat center center;
}

#score-box {
    font-size: larger;
    margin-bottom: 1em;
    background: url("../img/minion-banana.png") no-repeat right;
    background-size: contain;
}

#score-number {
    color: red;
    font-size: x-large;
}

#game-over {
    display: none;
    text-align: center;
    height: 30em;
    padding-top: 5em;
    color: white;
}

#game-over > button {
    margin-top: 2em;
}

